
<!-- Main Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h2>Welcome to Hospital Victoriam</h2>
            <p class="hp_paragraph">Welcome to Victoriam, where your health and well-being are our foremost
                 priorities. Founded with a mission to provide exceptional healthcare services,
                  we have been serving our community for 15 years.
            </p>
            <p class="hp_paragraph">
                At Victoriam, we believe in a patient-centered approach to healthcare. 
                Our dedicated team of healthcare professionals is committed to delivering
                 the highest quality care, tailored to your unique needs. 
                 We take pride in our state-of-the-art facilities, equipped with the latest 
                 medical technologies, ensuring that you receive the best treatment available.
            </p>
        </div>
        <div class="col-md-5">
            <h2>Our Services</h2>
            <p  class="hp_paragraph">
                At Victoriam, we offer a broad spectrum of healthcare services to address your
                 medical needs comprehensively. Our team of dedicated professionals specializes in 
                 primary care, specialty services, and emergency care. Whether you require routine
                  check-ups, specialized treatments, or immediate attention in urgent situations,
                   we have you covered. Our advanced imaging and diagnostic facilities ensure 
                   accurate and timely diagnoses, while our rehabilitation services aid in your
                    recovery and return to an active lifestyle. We are committed to supporting 
                    your mental health and overall well-being, offering counseling and wellness
                     programs to enhance your quality of life.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
       <app-carousel-homepage></app-carousel-homepage>
    </div>
    <div class="col-md-2"></div>
</div>
